body{
	background: linear-gradient(#14FFF7, #0BC9CD, #C879FF);
}

.maintitle{
	border: 10px dashed lightyellow;
	margin: 20px;
	font-size: 30;
	color: orangered;
}

h1{
	font-family: fantasy;
	text-align: center;
	font-size: 45px;
	margin-top: 25px;
}

.Centerquestion{
	text-align: center;
}

p{
	font-size: 20px;
	margin: 30px;
	font-family: fantasy;
	font-weight: bold;
	font-stretch: expanded;
}

button{
	background-color: yellow;
	border: 5px solid darkorange;
	margin-inline: 10px;
	align-content: center;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button{
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}







