body{
	background: linear-gradient(#B9D2B1, #FBACBE);
	/*to remove the scross you can do overflow-y: hidden or set the margin to 0 or adjust the padding*/
	overflow-y: hidden;
}

p{
	width: 40%;
	/*one solution to add contrast between text and background*/
	background-color: slategray;
	display: inline-block;
}

p.child{
	 /*transparent removes the inherited css background color*/
	background-color: transparent;
}

div{
	/*appends a transparent value to hex with the last 2 chars*/
	/* you could also use rgb () */
	background-color: #EAFDE633;
}

div.transparent-block{
	position: absolute;
	top: 100px;
	left: 300px;
	width: 300px;
	height: 50px;
}

.div-with-link{
	text-align: center;
	font-size: 50px;
}

a:visited{
	text-decoration-color: none;
	color: #fbacbe;
}

a:hover{
	background: yellow;
}

/*if you want all links (visited or not) to have the same styles*/
/*a:link, a:visited*/
a:link {
	color: #b9d2b1;
	/* text decoration can only be modified on the :link */
	text-decoration: none;
}




