body{
	background-image: url('project-2-img/water-20.gif');
	background-position: center;
	background-size: cover;
	border: dashed 15px #03045E;
	overflow-x: hidden;
}

h1{
	font-family: fantasy;
	font-size: 80;
	color: white;
	letter-spacing: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

}

h2{
	color: #03045E;
	font-family: cursive;
	font-size: 30;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Larimar{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	flex-direction: row;
	gap: 50px;
	color: navy;
	margin-inline: 95px;
	background: skyblue;
	font-family: fantasy;
	font-size: 20px;
	border: white solid;
	padding: 10px;
}

.Factcontainer{
	display: flex;
	background-color: navy;
	font-family: fantasy;
	font-size: 20px;
	color: white;
	border: skyblue solid 5px;
	margin-inline: 200px;
	padding: 5px;
}







