body{
	background-image: url('project-2-img/water-20.gif');
	background-position: center;
	background-size: cover;
	border: dashed 15px #03045E;
	overflow-x: hidden;
}

h1{
	font-family: fantasy;
	font-size: 80px;
	color: white;
	letter-spacing: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

h2{
	color: #03045E;
	font-family: cursive;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Larimar{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Larimar img{
	width: 600px;
	max-width: 100%;
	height: auto;

}

.container{
	display: flex;
	flex-direction: row;
	gap: 50px;
	color: navy;
	margin-inline: 95px;
	background: skyblue;
	font-family: fantasy;
	font-size: 20px;
	border: white solid;
	padding: 10px;
}

.Factcontainer{
	display: flex;
	background-color: navy;
	font-family: fantasy;
	font-size: 20px;
	color: white;
	border: skyblue solid 5px;
	margin-inline: 200px;
	padding: 5px;
}

@media screen and (max-width: 768px){
	.container{
		flex-direction: column;
		margin-inline: 25px;
	}
	.Factcontainer{
		margin-inline: 20px;
	}
	h1{
		font-size: 50px;
		letter-spacing: 15px;
	}
	body{
		border: dashed 10px #03045E;
	}
	h2{
		font-size: 30px;
		text-align: center;
		padding: 10px;
	}

}





